@model TheRideYouRent.Models.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inspectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inspectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.rentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
