@page
@model IEnumerable<TheRideYouRent.Models.Inspector>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InspectorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InspectorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InspectorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
