@page
@model IEnumerable<TheRideYouRent.Models.Return>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
